{% load static %}
<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
  <div class="w-6/12">
    <a href="{% url 'filme:homepage' %}">
      <img class="w-2/12" src="{% static 'images/hashflix.png' %}">
    </a>
  </div>
  <div class="w-6/12 flex flex-nowrap justify-end">
    {% if user.is_authenticated %}
    <div class="mr-2">
      <form method="get" action="{% url 'filme:pesquisafilme' %}">
<!--  caso queira a barra de pesquisa preenchida com o termo pesquisado -> value="{{ request.GET.query }} -->
        <input type="text" class="py-1 px-2 rounded-md text-black" name="query" placeholder="Pesquisar...">
        <input type="submit" value="">
      </form>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="mr-2">
      <a href="{% url 'filme:logout' %}">
        <button class="bg-red-600 text-white rounded-md py-1 px-3">SAIR</button>
      </a>
    </div>
    {% else %}
    <div class="mr-2">
      <a href="{% url 'filme:login' %}">
        <button class="bg-red-600 text-white rounded-md py-1 px-3">ENTRAR</button>
      </a>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="mr-2">
      <a href="{% url 'filme:editarperfil' user.pk %}">
        <button class="bg-red-600 text-white rounded-md py-1 px-3">EDITAR PERFIL</button>
      </a>
    </div>
    {% endif %}
  </div>
</nav>